.inputSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3.125rem;
}

.mainMeme{
    display: grid;
    grid-template: 100% 100%/ 1fr 1fr;
    gap: 17px;
    padding-bottom: 1rem;
    width: 100% ;
    align-items: center;
    justify-content:center;
}

.TextSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

.inputSection form {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    font-family: "Karla", sans-serif;
}

.TextSection input,button{
    height: 2.1875rem;
    font-family: "Karla", sans-serif;
}

.fromBtn{
    height: 3rem;
    color: white;
    border: 0;
    border-radius: .625rem;
    font-family: "Karla", sans-serif;
    background: rgb(103,34,128);
    background: linear-gradient(145deg, rgba(103,34,128,1) 0%, rgba(166,38,211,1) 100%);
}
 
.inputText{
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    height: 35px;
    width: 50%;
    width: 100%;
    color: rgba(0, 0, 0, 0.411);
}

.memeImg{
    height: 70vh;
    justify-self: center;
    object-fit: contain;
}


@media (min-width: 1025px) {

}

.meme {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}