.inputSection{
    width: 100%;
    flex-direction: row;
    /* justify-content: center; */
}

.mainMeme{
    display: grid;
    grid-template: 100% 100%/ 1fr 1fr;
    gap: 17px;
    padding-top: 3rem;
    padding-bottom: 1rem;
    width: 100% ;
    align-items: center;
    justify-content:center;
}

.TextSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

.inputSection form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: "Karla", sans-serif;
}

.TextSection input,button{
    height: 2.1875rem;
    font-family: "Karla", sans-serif;
}

.fromBtn{
    height: 3rem;
    color: white;
    border: 0;
    border-radius: .625rem;
    font-family: "Karla", sans-serif;
    background: rgb(103,34,128);
    background: linear-gradient(145deg, rgba(103,34,128,1) 0%, rgba(166,38,211,1) 100%);
}
 
.inputText{
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
    height: 35px;
    width: 50%;
    width: 100%;
    color: rgba(0, 0, 0, 0.411);
}